.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
.item-metadata {
    text-align: left;
    margin-right: 20px;
}
.item-metadata h3, .item-metadata p {
    margin-bottom: 0;
    margin-top: 0;
}


h2 {
    font-weight: 600 !important;
    margin-bottom: 0 !important;
}
hr {
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
