.App {
  font-weight: 400;
  background-color: #f2f2f2;
  color: #464c52;
  min-height: 100vh;
  padding: 15px !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box {
  padding: 1rem;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.container.box {
  width: 75%;
}
.container:hover {
  background-color: #f6f6f6;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

